<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CRUD Example</title>
</head>
<body>
<h2 th:text="'Code : ' + ${code}"></h2>
<h2 th:text="'Continent : ' + ${continent}"></h2>
<h2 th:text="'Region : ' + ${region}"></h2>
<h2 th:text="'SurfaceArea : ' + ${surfaceArea}"></h2>
<h2 th:text="'IndepYear : ' + ${indepYear}"></h2>
<h2 th:text="'Population : ' + ${population}"></h2>
<h2 th:text="'LifeExpectancy : ' + ${lifeExpectancy}"></h2>
<h2 th:text="'Gnp : ' + ${gnp}"></h2>
<h2 th:text="'GnpOld : ' + ${gnpOld}"></h2>
<h2 th:text="'LocalName : ' + ${localName}"></h2>
<h2 th:text="'GovernmentForm : ' + ${governmentForm}"></h2>
<h2 th:text="'HeadOfState : ' + ${headOfState}"></h2>
<h2 th:text="'Capital : ' + ${capital}"></h2>
<h2 th:text="'Code2 : ' + ${code2}"></h2>


</body>
</html>